* {
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

#container {
    height: 95vmin;
    width: 95vmin;
    display: flex;
    flex-wrap: wrap;
    
}

#container div {
    flex: 1 0 calc(100%/16);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}